{{#module}}
    <div class="dynamic">
        <div data-region="header"></div>
        <div data-region="main"></div>
    </div>
{{/module}}
{{#view "header"}}
    <h1 class="header-dynamic">声明式渲染视频模块</h1>
{{/view}}
{{#view "main"}}
    <div>
        <button id="video-tab">video</button>
        <button id="show-tab">qr-code</button>
        {{#if flag}}
            <div data-dynamic-key="video"></div>
        {{else}}
            <div data-dynamic-key="show"></div>
        {{/if}}
    </div>
{{/view}}
